@using Levantoso.Domain.Lists
@model IEnumerable<Levantoso.Domain.Models.GrupoModel>

@{
    ViewBag.Title = "title";
    Layout = null;
}
<div id="container">
    <div id="grid-tabela">
        @if (Model != null)
        {
            foreach (var grupo in Model)
            {
                <div class="quadro-grupo" style="margin-top: 35px;">
                    <div style="display: flex">
                        <h3 style="width: 93%" class="titulo-grupo">@grupo.NomeGrupo</h3>
                        <button type="button" class="btn btn-primary" onclick="levantoso.grupo.abrirModalEditar(this)" data-bs-toggle="modal" data-bs-target="#modalEditarGrupo">
                            <i class="material-icons">edit</i>
                        </button>
                        <button type="button" class="btn btn-danger" onclick="levantoso.grupo.remover(this)">
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
                    <table class="table table-striped tabela-grupo" id="@grupo.NomeGrupo">
                        <thead>
                            <tr>
                                <th scope="col">Tipo Oper.</th>
                                <th scope="col">Item</th>
                                <th scope="col">Complexidade</th>
                                <th scope="col">Descrição</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (grupo.Itens != null)
                            {
                                foreach (var item in grupo.Itens)
                                {
                                    @Html.Partial("_RowGrid", item)
                                }
                            }

                        </tbody>
                    </table>
                    <div id="grid-form">
                        <form id="form-tabela">
                            <div class="container-sm row">
                                <div class="form-group col-sm">
                                    <label>T.O</label>
                                    <select class="form-control input tipo-operacao" data-table="@grupo.NomeGrupo" required>
                                        @foreach (var itemCombo in TipoOperacaoList.ComboValues)
                                        {
                                            <option value="@itemCombo.Value">@itemCombo.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-sm">
                                    <label>Item</label>
                                    <select class="form-control input item" required>
                                        @foreach (var itemCombo in ItemList.ComboValues)
                                        {
                                            <option value="@itemCombo.Value">@itemCombo.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-sm">
                                    <label>Complexidade</label>
                                    <select class="form-control input complexidade" required>
                                        @foreach (var complexidade in ComplexidadeList.ComboValues)
                                        {
                                            <option value="@complexidade.Value">@complexidade.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Descrição</label>
                                    <textarea class="form-control input descricao" required placeholder="Digite uma Descrição" rows="3"></textarea>
                                </div>
                                <div class="form-group" id="btn-adicionar">
                                    <button type="button" class="btn btn-primary" onclick="levantoso.item.inserir(this);">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
</div>
