@model Levantoso.Domain.Models.ItemLevantamentoModel
@{
    Layout = null;
}

<tr>
    <td class="td-no-description tipo-operacao" data-value="@Model.TipoOperacao.Value">@Model.TipoOperacao.Text</td>
    <td class="td-no-description item" data-value="@Model.Item.Value">@Model.Item.Text</td>
    <td class="td-no-description complexidade" data-value="@Model.Complexidade.Value">@Model.Complexidade.Text</td>
    <td class="descricao">@Model.Descricao</td>
    <td class="td-btn">
        <button class="btn btn-grid" onclick="levantoso.editarItem(this)"><i class="material-icons">edit</i></button>
    </td>
    <td class="td-btn">
        <button class="btn btn-grid" onclick="levantoso.abrirEscolhaNovoGrupo(this)"
                data-bs-toggle="modal" data-bs-target="#modalTrocarItemGrupo"><i class="material-icons">swap_vert</i></button>
    </td>
    <td class="td-btn">
        <button class="btn btn-grid" onclick="levantoso.deletarItem(this)"><i class="material-icons">delete</i></button>
    </td>
</tr>